<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ _i18n.lang }}" lang="{{ _i18n.lang }}" dir="{{ _i18n.dir }}">
<head>
	{{ _html.charset(_i18n.charset) }}
	<meta name="description" content="GreenCart" />
	<meta name="author" content="Sebastian Ionescu (Design and PHP Programming)" />
	<meta name="robots" content="index,follow" />
	{{ _html.meta('icon') }}
	{{ _html.css(['cake.generic']) }}
	{{ _html.script([]) }}
	{{ _page.scripts }}
	{# _html.script('https://getfirebug.com/firebug-lite.js') #}
	<title>{{ _page.title }}</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>{{ _html.link('GreenCart: Open Source eCommerce Platform', '/') }}</h1>
		</div>
		<div id="content">
			{{ _view.element('main_menu') }}
			{{ _session.flash }}
			{{ _page.content }}
		</div>
		<div id="footer">
			{{ _html.link(_html.image('cake.power.gif'), 'http://www.cakephp.org/', {'target': '_blank', 'escape': false}) }}
		</div>
	</div>
</body>
</html>