{% set greencart_description = 'GreenCart - Open Source eCommerce Platform'|trans|e %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{{ view.html.charset() }}
	{{ view.html.meta('icon') }}
	{{ view.html.css('cake.generic') }}
	{{ scripts_for_layout }}
	<title>{{ greencart_description }}: {{ title_for_layout|e }}</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>{{ view.html.link(greencart_description, '/') }}</h1>
		</div>
		<div id="content">
			{{ view.session.flash() }}
			{{ content_for_layout }}
		</div>
		<div id="footer">
			{{
				view.html.link(
					view.html.image('cake.power.gif', {'alt': greencart_description, 'border': 0}),
					'http://www.cakephp.org/',
					{'target': '_blank', 'escape': false}
				)
			}}
		</div>
	</div>
	{{ view.element('sql_dump') }}
</body>
</html>