<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page.lang }}" lang="{{ page.lang }}">
<head>
	{{ html.charset }}
	<meta name="description" content="GreenCart - Administration Panel" />
	<meta name="author" content="Sebastian Ionescu (Design and PHP Programming)" />
	<meta name="robots" content="noindex,nofollow" />
	{{ html.meta('icon') }}
	{{ html.css(['styles']) }}
	{{ html.script(['jquery', 'layout']) }}
	{{ page.scripts }}
	{# html.script('https://getfirebug.com/firebug-lite.js') #}
	<title>{{ __d('admin', 'admin_panel_title', [page.title])|e }}</title>
</head>
<body>
	<div id="pageHeader"></div>
	{{ session.flash }}
	{{ page.content }}
</body>
</html>