{{ _page.title(__('customers_login_page_title')) }}

{{ _form.create('Customer') }}
	<fieldset>
		<div>{{ __('customers_login_text_1') }}</div>
		<div>{{ _session.flash('auth') }}</div>
		{{
			_form.input('email', {
				'label': __('customers_login_form_label_email')
			})
		}}
		{{
			_form.input('password', {
				'label': __('customers_login_form_label_password')
			})
		}}
		{{
			_form.input('Auth.remember', {
				'type' : 'checkbox',
				'label': __('customers_login_form_label_remember')
			})
		}}
		{{
			_form.submit(__('customers_login_form_label_submit'))
		}}
	</fieldset>
{{ _form.end() }}
